<% if current_employer %>
  <%= render 'employee_profiles'%>
<% end %>






<h5>Feedbacks:</h5>
<%= form_with(model: [@employee_profile, @employee_profile.comments.build]) do |f| %>
  <%= f.text_area :content, placeholder: "write a feedback for this Employee" %><br>
  <%= f.submit "post", class: "btn btn-primary" %>
<% end %>